*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin:0;
    padding:0;
    background: gray;
}
 nav{
    background:rgba(61, 59, 59, 0.89);
    overflow:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
        
}
/* ul{
    padding:0;
    margin:0 0 0 15%;
    list-style:none;
}
li{
    float:left;
}
/* .logo img{
    position:absolute;
    margin-top: 0px;
    margin-left: 0px;
} */
nav a{
    width:100px;
    display:block;
    padding:20px 15px;
    text-decoration:none;
    color:blue;
    text-align:center;
}
/* .header{
    width:100%;
    height:100vp;
    padding:0 10%;
} */

/* *****this made the footer work****** */

/* nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold; 
    text-decoration:none;
    font-size: larger;
    color:#000000;
    padding:0 40%;
    display:block;    
    }

nav ul li a:hover{
    color:black;
    transition: .3s;
}
ul li{
    list-style:none;
    display:inline-block;
    line-height:100px;
}  */

/* ******this made the footer work****** */

/* .logo img{
    position:absolute;
    margin-top: 5%;
    margin-left: 10%; 
    height: 13%;
    width: 8%;
} */
/* used on tutors page */
.container{
    position: relative;
    /* width: 1200px;
    height: 250px; */
     /* width:100vw; */
     /* height:90vh;  */
    /* margin: 5vh auto 50px;  */
    /* margin-top: 30vh; */
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    /* margin-left: 10vw; */
    /* margin-bottom: 10vh; */
    display:flex;
    /* displayflex makes it centered but cuts of boxes on smaller screens */
   
}
.container .box{
    position: relative;
    width: calc(300px - 30px);
    height: calc(250px - 30px);
    background: rgb(0, 0, 0);
    float: left;
    margin: 15px;
    box-sizing:border-box;
    overflow: hidden;
    border-radius: 10px;
    justify-content: center;
    /* align-content: center; */
}
.container .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background: #242222;
    transition: 0.5s;
    z-index:1;
}
.container .box:hover .icon{
    top:20px;
    left: calc(50% - 40px);
    width:80px;
    height:80px;
    border-radius: 50%;
}
.container .box .icon .fa{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    transition: 0.5s;
    color:#fff;
}
.container .box .icon .fa{
    font-size:40px;
}
.container .box .content{
    position: absolute;
    top:100%;
    height:calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.container .box:hover .content{
    top:100px;
    opacity: 1;
}
.container .box .content h3{
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size:24px;
}
.container .box .content p{
    margin: 0 ;
    padding: 0;
    color: #fff;
}
/* for tutors page */
.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    padding-top: 3rem;
    font-size: 4rem;
    background-color: #242222;
}
.heading span{
    color:rgb(247, 247, 147);
    text-transform: uppercase;
}
.about .row{
    display: flex;
    align-items: center;
    background: #000000;
    flex-wrap: wrap;
    flex:1 1 45rem;
    width: 100%; 
}    
.about .row .content{
    flex:1 1 45rem;
    padding: 1rem;
}
.about .row .content h3{
    font-size: 2rem;
    color:#fff;
    margin-right: 100px;
}
.about .row .content p{
    font-size: 1rem;
    color:#ccc;
    /* padding:.5 rem 0; */
    line-height: 1.8;
    margin-right: 100px;
}
.image{
    position: relative;
    width: 100%;
    height: auto;
    /* border-radius: 50%; */
    /* padding:10px 10px 10px 10px;
    margin-left: 10px; */
    z-index: 5;
}
.glowy{
    position: relative;
    margin: 25px 50px 50px 25px;
    width:300px;
    height:300px;
    background: linear-gradient(#000, #262626);
    border-radius: 500%;
}
.glowy:before,
.glowy:after{
    content: '';
    position: absolute;
    top:-2px;
    left:-2px;
    background: linear-gradient(45deg, #00abfb, #0000ff, #00a2ff, #6999ff, #00c3ff,
    #00abfb, #0000ff, #00a2ff, #6999ff, #00c3ff);
    background-size: 400%;
    width:calc(100% + 4px);
    height:calc(100% + 4px);
    z-index: 1;
    animation: animate 20s linear infinite;
    min-width: fit-content;
    }
    .glowy:after{
        filter: blur(20px);
    }
    @keyframes animate{
        0%{
            background-position: 0 0;
        }
        50%{
            background-position: 400% 0;
         }
        100%{
            background-position: 0 0;
        }

    }

    .tech{
        position: relative;
        margin: 25px 50px 50px 25px;
        width:40vw;
        height:50vh;
        background: linear-gradient(#000, #262626);
    }
    .tech:before,
    .tech:after{
        content: '';
        position: absolute;
        top:-2px;
        left:-2px;
        background: linear-gradient(45deg, #00abfb, #0000ff, #00a2ff, #6999ff, #00c3ff,
        #00abfb, #0000ff, #00a2ff, #6999ff, #00c3ff);
        background-size: 400%;
        width:calc(100% + 4px);
        height:calc(100% + 4px);
        z-index: -1;
        animation: animate 20s linear infinite;
        }
        .tech:after{
            filter: blur(20px);
        }
        @keyframes animate{
            0%{
                background-position: 0 0;
            }
            50%{
                background-position: 400% 0;
             }
            100%{
                background-position: 0 0;
            }
    
        }

    .rating{
        position: relative;
        z-index: 1001;
        color: #00eeff93;
        padding:0% 1% 0% 30%;
    }

    .logo{
        font-family: Arial, Helvetica, sans-serif;
        font-size:35px;
    }
    .tagline{
        text-transform: uppercase;
        font-size: 15px;
        font-weight:400;
        letter-spacing:2px;
    }
            /* footer */
            
    
            ul, li{
                list-style-type: none;
            }
            a{
                text-decoration: none;
                transition: .5s;
                color:#fff;
            }
            footer{
                background-color: rgb(24, 23, 23);
                color:#fff;
                /* width:100vw; */
            }

            .footer_info{
                width:90%;
                margin:0 auto;
                display:flex;
                padding:50px 0;
            }
            .footer_info .footer_width {
                padding:0 15px;
            }
            .footer_info h2{
                margin-bottom: 20px;
            }
             .salem, .Contact{
                width:40%;
            } 
            
            .link{
                width:20%;
            }
            .social-media{
                margin-top: 30px;
            }
            .social-media ul{
                display:flex;
            }
            .social-media ul li a{
                display:inline-block;
                margin-right: 50px;
                width:50px;
                height:50px;
                padding-top: 15px;
                background-color: transparent;
                border:1px solid #fff;
                text-align: center;
            }
            .social-media ul li a{
                background-color: #000;
            }
            .social-media ul li a:hover{
                background-color: #fff;
                color:#000;
            }
            .link ul li a{
                display:block;
                margin-bottom: 15px;
                font-size: 18px;
            }
            .link ul li a:hover{
                color:#000;
            }
            .Contact ul li{
                display: flex;
                align-items: center;
                margin-bottom: 15px;
            }
            .Contact ul li span{
                margin-right: 15px;
            }
            .copy-right{
                padding:15px 0;
                text-align: center;
                background-color: rgb(82, 80, 80);
            } 
            @media screen and (max-width:992px){
    
                .about, .contact{
                    width:35%;
                }
                .link{
                    width:30%;
                }
            }
            @media screen and (max-width:767px){
                .about, .contact, .link{
                    width:100%;
                    margin-bottom: 30px;
                }
                .footer_info{
                    flex-direction:column;
                }
            }