*
{
    margin: 0;
    padding: 0;
}
body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.banner-text{
    width: 100%;
    position:absolute;
}
.banner-text ul{
    height: 50px;
    float: right;
}
.banner-text ul li{
    display: inline-block;
    padding: 40px 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}
.banner-text h2{
    color: #fff;
    font-size: 50px;
    margin-top: 20%;
}
.animation-area{
    background: linear-gradient(to left, #8942a8, #ba382f);
}
/*.content{
    padding:250px 500px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1{
    font-size: 64px;
    font-weight: 600;
}
.content h1 span{
    color: #ee37ff;
}
.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
.content button img{
    width: 15px;
    margin-left: 10px;
} 
*/

